.heading {
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Gill Sans Extrabold", Helvetica;
    font-weight: 900;
    font-size: 2rem;
    text-transform: none;
    text-align: center;
}
.buscador {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.btn_block {
    width: 100%;
}